@{
    ViewData["Title"] = _localization.GetKey("purch").Value;
    string cost = TempData["purchase"].ToString();
}
<script src="~/js/sweetalert.js"></script>
<script language="javascript">
    Swal.fire({ title: '@_localization.GetKey("purch").Value', text: '@_localization.GetKey("totCost").Value @cost TL', icon: 'success', html: '@_localization.GetKey("totCost").Value @cost' }).then(function () {
        window.location = location.origin + "/Identity/Account/Manage";
    });
</script>
<body style="background-color:#0f3c4c">
</body>
