@model UcakWebProje.Models.User

@{
    ViewData["Title"] = _localization.GetKey("SignUp").Value;
    <script src="~/js/sweetalert.js"></script>
    if (TempData["signupFailed"] is not null)
    {
        <script language="javascript">
            Swal.fire({ title: '@_localization.GetKey("uTaken").Value', text: '@_localization.GetKey("otherUser").Value', icon: 'error', html: '@_localization.GetKey("otherUser").Value' })
        </script>
    }
}

<script src="~/js/particles.js">
</script>
<script language="javascript">
    particlesJS.load('particles-js', '/particles.json', function () {
        console.log('particles.js loaded');
    });
</script>

<div id="particles-js"></div>
<div class ="userForm" style="margin-top:10px; z-index: 1; position: absolute; background-color:white">
    <form asp-action="SignUpCheck">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNum" class="control-label"></label>
                <input asp-for="phoneNum" class="form-control" />
                <span asp-validation-for="phoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@_localization.GetKey("SignUp").Value" class="btn btn-primary" style="margin-top: 7px; margin-bottom: 7px;" />
            </div>
        </form>
    </div>

<script src="~/js/particles.js">
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
